/* * {
    border: red solid 2px;
} */

header {
    background-color: antiquewhite;
    margin-bottom: 10px;
    border-top: gray solid 3px;
    border-bottom: gray solid 3px;
}

main {
    display: flex;
    text-align: center;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    text-align: center;
    margin: 5px;
}

button {
    margin: 10px;
}

.hidden {
    visibility: hidden;
}

.clickable {
    cursor: pointer;
}

#italic-word {
    font-size: 2em;
}

#clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    margin: 0 20px;
}

#display {
    padding: 10px;
    border: black solid 3px;
    justify-content: center;
    background-color: olivedrab;
    width: fit-content;
    display: flex;
    width: 300px;
    height: 100px;
    margin: 15px;
    border-radius: 5px;
}

#display-time {
    text-align: center;
    font-size: 5rem;
}

#todo {
    display: flex;
    border: 5px solid grey;
    background-color: antiquewhite;
    height: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 2px;
    gap: 30px;
}

#todo img {
    width: fit-content;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#click-overlay, #static-tv-screen, #video-screen {
    overflow: hidden;
}

@media screen and (min-width:1080px) {
    #tv-container {
        display: flex;
        position: relative;
        width: 610px;
        height: 500px;
        align-items: center;
    }

    #click-overlay, #static-tv-screen, #video-screen {
        /* 340, 420 */
        height: 340px; 
        width: 420px;
        margin-left: 37px;
        margin-bottom: 10px;
        object-fit: fill;
        position: absolute;
        border-radius: 40px;
    }

    #click-overlay {
        background: linear-gradient(to top left, #a5b8d6, white);
        height: 340px;
    }

    #transition-screen {
        transform: scale(1.30);
        transform-origin: 40% 30%;
    }
}

@media screen and (max-width:1079px) {
    #tv-container {
        display: flex;
        position: relative;
        width: 400px;
        align-items: center;
    }

    #click-overlay, #static-tv-screen, #video-screen {
        height: 220px;
        margin-left: 27px;
        margin-bottom: 7px;
        object-fit: fill;
        position: absolute;
        border-radius: 20px;
    }

    #static-tv-screen, #video-screen {
        max-width: 267px;
    }
    /* Forces zoom at center of image */
    #transition-screen {
        transform: scale(0.83);
        transform-origin: -45% -35%;
    }

    #click-overlay {
        background: linear-gradient(to top left, #a5b8d6, white);
        height: 220px;
        width: 267px;
    }
}

#tv-container {
    margin: 0 20px;
    overflow: hidden;
}

#click-overlay, #static-tv-screen, #click-overlay, #video-screen, #transition-screen {
    border: rgb(96, 96, 96) solid 2px;
}

#tv-set {
    width: 100%
}

#searchbar {
    object-fit: fill;
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}
    
#playlist-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

#no-video-text {
    width: 300px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 20px;
}

#queue {
    width: 300px;
    gap: 0;
}

#queue img {
    margin: 0;
    padding: 10px;
}

#video-screen {
    /* background-color: aqua; */
}
/* 
#transition-screen {
    object-fit: cover;
    transform: scale(1.5);
    transform-origin: center;
} */