/* * {
    border: red solid 2px;
} */

body {
    /* background-color: linear-gradient(top, 'navy blue', 'spring green'); */
    /* background-color: linear-gradient(to top left, #a5b8d6, white); */
    background-image: linear-gradient(to top, cornflowerblue, springgreen);
}

header {
    background-color: antiquewhite;
    margin-bottom: 10px;
    border-top: grey solid 3px;
    border-bottom: grey solid 3px;
    justify-items: center;
}

header h1 {
    padding:  5px 10px 5px 10px;
}

main {
    display: flex;
    text-align: center;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-around;
}

h1, h2 {
    text-align: center;
    margin: 5px;
}

hr {
    margin-top: 27.5px;
    margin-bottom: 27.5px;
}

button {
    margin: 10px;
}

/* footer {
    /* margin-top: 20px; */
/* } */

.hidden {
    visibility: hidden;
}

.clickable {
    cursor: pointer;
}

#italic-word {
    font-size: 2em;
}

#study-playlist-title, #break-playlist-title {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 325px;
    margin: 20px;
}

#clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    margin: 0 20px;
}

#display {
    padding: 10px;
    border: black solid 3px;
    justify-content: center;
    background-color: olivedrab;
    width: fit-content;
    display: flex;
    width: 300px;
    height: 100px;
    margin: 15px;
    border-radius: 5px;
}

#display-time {
    text-align: center;
    font-size: 5rem;
}

#session-text-area {
    margin: 5px;
}

#todo {
    display: flex;
    border: 3px solid grey;
    background-color: antiquewhite;
    height: 40%;
    margin: 20px;
    padding: 10px;
    border-radius: 2px;
    gap: 30px;
}

#todo img {
    width: fit-content;
    margin: 10px;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#tv-off-screen, #static-tv-screen, #video-screen {
    overflow: hidden;
}

@media screen and (min-width:1080px) {
    #tv-container {
        display: flex;
        position: relative;
        width: 610px;
        height: 500px;
        align-items: center;
    }

    #tv-off-screen, #static-tv-screen, #video-screen {
        /* 340, 420 */
        height: 340px; 
        width: 420px;
        margin-left: 37px;
        margin-bottom: 10px;
        object-fit: fill;
        position: absolute;
        border-radius: 40px;
    }

    #tv-off-screen {
        background: linear-gradient(to top left, #a5b8d6, white);
        height: 340px;
    }

    #transition-screen {
        transform: scale(1.30);
        transform-origin: 40% 30%;
    }
}

@media screen and (max-width:1079px) {
    #tv-container {
        display: flex;
        position: relative;
        width: 400px;
        align-items: center;
    }

    #tv-off-screen, #static-tv-screen, #video-screen {
        height: 220px;
        margin-left: 27px;
        margin-bottom: 7px;
        object-fit: fill;
        position: absolute;
        border-radius: 20px;
    }

    #static-tv-screen, #video-screen {
        max-width: 267px;
    }
    /* Forces zoom at center of image */
    #transition-screen {
        transform: scale(0.83);
        transform-origin: -45% -35%;
    }

    #tv-off-screen {
        background: linear-gradient(to top left, #a5b8d6, white);
        height: 220px;
        width: 267px;
    }
}

#tv-container {
    margin: 0 20px;
    overflow: hidden;
}

#tv-off-screen, #static-tv-screen, #tv-off-screen, #video-screen, #transition-screen {
    border: rgb(96, 96, 96) solid 2px;
}

#tv-set {
    width: 100%
}

.searchbar {
    object-fit: fill;
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
    border: grey solid 3px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

.searchbar input {
    background-color: azure;
    padding: 10px;
    border-radius: 5px;
}

#playlist-container-outer {
    flex: 1 1 auto;
}

#playlist-container-inner {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

h1, h2 {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}


#playlist-container-outer #your-playlist {
    display: block;
    margin: 0 auto 30px auto;
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-height: 425px;
    border: grey solid 3px;
    border-radius: 5px;
    padding: 5px;
}

.add-music-button {
    opacity: 25%;
}

#study-playlist-section {
    background-color: yellowgreen;
}

#break-playlist-section {
    background-color: lavender;
    /* display: none; */ /* NOTE: Change once this playlist is functional, should pop up after study playlist is populated */
}

#support-title {
    justify-self: center;
}

#supported-platforms {
    display: flex;
    gap: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#supported-platforms img {
    width: 100px;
}

.no-video-text {
    /* width: 300px; */
    /* height: 225px; */
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
}


.queue {
    width: 300px;
}

.queue img {
    margin: 0;
    padding: 10px;
}

/* 
#transition-screen {
    object-fit: cover;
    transform: scale(1.5);
    transform-origin: center;
} */