/* * {
    border: 2px solid red;
} */

body {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    /* flex: 0 0 auto;
    flex-wrap: wrap; */
}

#clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 200px;
    align-items: center;
    background-color: black;
    border-radius: 10px;
}

#display {
    padding: 10px;
    border: black solid 3px;
    justify-content: center;
    background-color: olivedrab;
    width: fit-content;
    display: flex;
    width: 300px;
    height: 100px;
    margin: 15px;
    border-radius: 5px;
}

#display-time {
    text-align: center;
    font-size: 5rem;
}

button {
    margin: 10px;
}

#todo {
    display: flex;
    border: 5px solid grey;
    background-color: bisque;
    width: 250px;
    margin: 20px;
    padding: 10px;
    border-radius: 2px;
    gap: 30px;
}

#session-text-area {

}

#container {
    display: flex;
    width: fit-content;
    align-items: center;
}

#tv-container {
    display: flex;
    position: relative;
    width: 300px;
    align-items: center;
}

#tv-screen {
    height: 165px;
    max-width: 200px;
    margin-left: 22.5px;
    margin-bottom: 5px;
    object-fit: contain;
    position: absolute;
    border-radius: 20px;
}

#tv-set {
    width: 100%
}